<%= form_with(model: entity, local: true) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.select(:state, options_for_select(Entity.states.keys), {}, { class: "custom-select mb-3" }) %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: 'Description' %>
  </div>

  <div class="form-group">
    <%= form.label :extra_data %>
    <%= form.text_area :extra_data, class: "form-control", placeholder: 'Extra Data' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-dark' %>
  </div>
<% end %>
