<p id="notice"><%= notice %></p>

<center><h1>Entities</h1></center>

<table class='table table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Name</th>
      <th scope='col'>State</th>
      <th scope='col'>Description</th>
      <th colspan='3' scope='col'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each_with_index do |entity, index| %>
      <tr>
        <td scope='row'><%= index + 1 %></td>
        <td><%= entity.name %></td>
        <td><%= entity.state %></td>
        <td><%= truncate(entity.description, length: 80, omission: '... (continued)') %></td>
        <td colspan="3">
          <%= link_to 'Show', entity, class: 'btn btn-outline-secondary' %>
          <%= link_to 'Edit', edit_entity_path(entity), class: 'btn btn-outline-secondary' %>
          <%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Entity', new_entity_path, class: "btn btn-dark" %>
