<p id="notice"><%= notice %></p>

<h1>Entity details</h1>

<div class="row">
  <div class="col-3">
    <strong>Name:</strong>
  </div>
  <div class="col-9">
    <%= @entity.name %>
  </div>

  <div class="col-3">
    <strong>Description:</strong>
  </div>

  <div class="col-9">
    <%= @entity.description %>
  </div>

  <div class="col-3">
    <strong>State:</strong>
  </div>
  <div class="col-9">
    <%= @entity.state %>
  </div>

  <div class="col-3">
    <strong>Extra data:</strong>
  </div>
  <div class="col-9">
    <%= @entity.extra_data %>
  </div>
</div>

<br>
<%= link_to 'Edit', edit_entity_path(@entity), class: "btn btn-outline-secondary" %> |
<%= link_to 'Back', entities_path, class: "btn btn-outline-secondary" %>
