<center>
  <h1>
    <%= @entity.name + " details" %>
  </h1>
</center>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Action</th>
    <th>Name</th>
    <th>Description</th>
    <th>State</th>
    <th>Extra Data</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |ev| %>
    <tr>
      <td> <%= action_of(ev) %> </td>
      <td> <%= ev.data[:name] %> </td>
      <td> <%= ev.data[:description] %> </td>
      <td> <%= ev.data[:state] %> </td>
      <td> <%= ev.data[:extra_data] %> </td>
      <td> <%= ev.metadata[:timestamp] %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', entities_path, class: "btn btn-outline-secondary" %>
