<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>RailsEventstoreEntitiesTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">

    <header>
      <%= render partial: 'partials/navbar' %>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        <%= render partial: 'partials/alerts' %>
        <%= yield %>
      </div>
    </main>


    <footer class="footer mt-auto">
      <%= render partial: 'partials/footer' %>
    </footer>
  </body>
</html>
